* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #f4f4f4;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem;
}

header h1 {
  text-align: center;
}

.section {
  padding: 3rem;
}

.section h3 {
  font-size: 2rem;
}

.section-a {
  background: steelblue;
  color: #fff;
}

.section-b {
  background: skyblue;
  color: #000;
}

.btn-light, .btn-dark {
  display: inline-block;
  padding: 0.7rem 2rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin-top: 1rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.btn-light {
  background-color: #f4f4f4;
  color: #000;
}

.btn-light:hover {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  background-color: #dbdbdb;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}

.btn-dark:hover {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  background-color: #4d4d4d;
}
/*# sourceMappingURL=main.css.map */