/* button class */
%btn_shared {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  // border-radius: 5px;
  outline: none;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn {
  &_dark {
    @extend %btn_shared;
    background-color: $dark_color;
    color: set-text-color($dark_color);

    &:hover {
      @include transform(rotate(10deg));
      background-color: darken($color: $dark_color, $amount: 10);
    }
  }
  &_light {
    @extend %btn_shared;
    background-color: $light_color;
    color: set-text-color($light_color);

    &:hover {
      @include transform(rotate(10deg));
      background-color: lighten($color: $light_color, $amount: 10);
    }
  }
  &_primary {
    @extend %btn_shared;
    background-color: $primary_color;
    color: set-text-color($primary_color);

    &:hover {
      @include transform(rotate(10deg));
      background-color: darken($color: $primary_color, $amount: 10);
    }
  }
}
