.menu_wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;

  .toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 60px;
    height: 55px;
    opacity: 0;
    cursor: pointer;

    /*Toggler animation*/
    &:checked + .hamburger > .line {
      transform: rotate(135deg);

      /* hamburger turn into + icon */
      &::before,
      &::after {
        top: 0;
        transform: rotate(90deg);
      }
    }

    /* Rotate On Hover When Checked */
    &:checked:hover + .hamburger > .line {
      transform: rotate(225deg);
    }

    /*Show menu*/
    &:checked ~ .menu {
      visibility: visible;

      div.menu_div {
        transform: scale(1);
        transition-duration: 1s;
      }
    }
  }

  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 55px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary_color;
    padding: 1rem;

    /* hamburger middle line */
    .line {
      position: relative;
      width: 100%;
      height: 2px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;

      /*First Line*/
      &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit;
      }

      /*Last Line*/
      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 10px;
        width: 100%;
        height: 2px;
        background: inherit;
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    visibility: hidden;

    .menu_div {
      background-color: $secondary_color;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: scale(0);
      opacity: 0.9;
      transition: all 0.4s ease;

      ul.nav {
        list-style: none;

        li.nav-item {
          text-align: center;

          a.nav-link {
            text-decoration: none;
            color: #fff;
            font-size: 1.5rem;
            padding: 1rem;
            display: inline-block;
            width: 80vw;
            margin: auto;

            &:hover {
              background-color: $primary_color;
            }
          }
        }
      }
    }
  }
}
