* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: $secondary_font;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary_font;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
}

p {
  padding: 0.25rem 0;
  margin: 0.25rem 0;
}

img {
  width: 100%;
}

form {
  label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 1.1rem;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #555;
    border-radius: 5px;
  }

  input[type='submit'] {
    cursor: pointer;
    background-color: $secondary_color;
    color: #fff;
  }
}

ol,
ul {
  list-style-position: inside;
}

ul {
  list-style-type: none;
}
