#timeline ul {
  background: $accent_color;
  color: set-text-color($accent_color);
  padding: 3rem 0;

  /* Create Line */
  li {
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;

    /* Dots */
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 25px;
      height: 25px;
      background: inherit;
      transform: translateX(-50%);
      border-radius: 50%;
      transition: background 0.5s ease-in-out;
    }

    /* Boxes */
    div {
      position: relative;
      bottom: 0;
      width: 400px;
      padding: 1rem;
      background: $secondary_color;
      color: set-text-color($secondary_color);
      transition: all 0.5s ease-in-out;
      visibility: hidden;
      opacity: 0;

      /* Arrows Base */
      &:before {
        content: '';
        position: absolute;
        bottom: 5px;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }

    /* Right Side */
    &:nth-child(odd) div {
      left: 40px;
      transform: translate(200px, 0);

      /* Right Side Arrows */
      &:before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent $secondary_color transparent transparent;
      }
    }

    /* Left Side */
    &:nth-child(even) div {
      left: -434px;
      transform: translate(-200px, 0);

      /* Left Side Arrows */
      &:before {
        right: -15px;
        border-width: 8px 0 8px 16px;
        border-color: transparent transparent transparent $secondary_color;
      }
    }
  }
}

#timeline ul li.show {
  /* Show Boxes */
  div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

  &:after {
    background: $secondary_color;
  }
}

/*Media Query*/
@media (max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }

  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}

@media (max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;

    div {
      width: calc(100vw - 90px);
    }

    &:nth-child(even) div {
      left: 40px;
    }

    &:nth-child(even) div:before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent $secondary_color transparent transparent;
    }
  }
}
