.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

/*Text Classes*/
.text_center {
  text-align: center;
}
.text_justify {
  text-align: justify;
}

.text_primary {
  color: $primary_color;
}
.text_secondary {
  color: $secondary_color;
}
.text_accent {
  color: $accent_color;
}

.l_heading {
  font-size: 4rem;
}
.m_heading {
  font-size: 3rem;
}
.s_heading {
  font-size: 2rem;
}

.lead {
  font-size: 1.2rem;
}

.bg_primary {
  background: $primary_color;
  color: set-text-color($primary_color);
}

.bg_dark {
  background-color: $secondary_color;
  color: set-text-color($secondary_color);
}

.d_flex_justify {
  display: flex;
  justify-content: space-between;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.grid5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem;
}
