@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab&display=swap');

$primary_color: #3498db;
$secondary_color: #192a56;
$accent_color: #74b9ff;
$dark_color: #333;
$light_color: #f4f4f4;
$primary_font: 'Roboto Slab', sans-serif;
$secondary_font: 'Roboto Condensed', serif;
