@import 'vars';
@import 'tags';
@import 'fun';
@import 'padding';
@import 'margin';
@import 'menu';
@import 'btn';
@import 'utilities';
@import 'timeline';

// main_header
header#main_header {
  border-bottom: 1px solid #fff;
  .container {
    nav.main_nav {
      span.logo {
        display: block;
        font-family: $primary_font;
        letter-spacing: 0.02rem;
        font-size: 1.2rem;

        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }
  }
}

section#showcase {
  position: relative;
  height: 70vh;
  background: rgba($color: #000, $alpha: 0.4);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;

  &::before {
    content: '';
    background: url('../img/showcase_bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

main {
  background: #000;
  color: set-text-color(#000);

  #about {
    display: grid;
    grid-template-columns: 2fr 1fr;

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }

    aside {
      ol {
        li {
          padding: 0.5rem 0;
          border-bottom: 1px solid #ccc;
          &:last-child {
            border: none;
          }
        }
      }
    }
  }
}

.contact {
  background-color: #f4f4f4;
  color: set-text-color(#f4f4f4);
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }

    form {
      padding: 1rem;
    }

    .google_map {
      padding: 1rem;
    }
  }
}

// main_footer
footer#main_footer {
  margin-top: auto;
  border-top: 1px solid #fff;
}
