@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", serif;
  background: #f4f4f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
  padding: 0.25rem 0 0.5rem 0;
  margin: 0.25rem 0 0.75rem 0;
}

p {
  padding: 0.25rem 0 0.25rem 0;
  margin: 0.25rem 0 0.5rem 0;
}

img {
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
}

form input,
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #555;
  border-radius: 5px;
}

form input[type='submit'] {
  cursor: pointer;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

.l_heading {
  font-size: 4rem;
}

@media (max-width: 768px) {
  .l_heading {
    font-size: 3.5rem;
  }
}

.m_heading {
  font-size: 3rem;
}

@media (max-width: 768px) {
  .m_heading {
    font-size: 2.5rem;
  }
}

.s_heading {
  font-size: 2rem;
}

.lead {
  font-size: 1.2rem;
}

.text_primary {
  color: #93cb52;
}

.text_center {
  text-align: center;
}

.text_justify {
  text-align: justify;
}

.bg_dark {
  background: #333;
  color: #fff;
}

.bg_light {
  background: #f4f4f4;
  color: #000;
}

.bg_primary {
  background: #93cb52;
  color: #000;
}

.br50 {
  border-radius: 50%;
}

.btn_dark, .btn_light, .btn_primary {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn_dark {
  background-color: #333;
  color: #fff;
}

.btn_dark:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  background-color: #1a1a1a;
}

.btn_light {
  background-color: #f4f4f4;
  color: #000;
}

.btn_light:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  background-color: white;
}

.btn_primary {
  background-color: #93cb52;
  color: #000;
}

.btn_primary:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  background-color: #7ab436;
}

/*Grid class*/
.grid_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .grid_2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.grid_3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .grid_3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/* padding */
.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;
}

.p4 {
  padding: 4rem;
}

.p5 {
  padding: 5rem;
}

.py_1 {
  padding: 1rem 0;
}

.py_2 {
  padding: 2rem 0;
}

.py_3 {
  padding: 3rem 0;
}

.py_4 {
  padding: 4rem 0;
}

.py_5 {
  padding: 5rem 0;
}

.px_1 {
  padding: 0 1rem;
}

.px_2 {
  padding: 0 2rem;
}

.px_3 {
  padding: 0 3rem;
}

.px_4 {
  padding: 0 4rem;
}

.px_5 {
  padding: 0 5rem;
}

.pt_1 {
  padding-top: 1rem;
}

.pt_2 {
  padding-top: 2rem;
}

.pt_3 {
  padding-top: 3rem;
}

.pt_4 {
  padding-top: 4rem;
}

.pt_5 {
  padding-top: 5rem;
}

.pb_1 {
  padding-bottom: 1rem;
}

.pb_2 {
  padding-bottom: 2rem;
}

.pb_3 {
  padding-bottom: 3rem;
}

.pb_4 {
  padding-bottom: 4rem;
}

.pb_5 {
  padding-bottom: 5rem;
}

/* main_style */
/*navigation*/
nav.main_nav {
  border-bottom: 1px solid #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

nav.main_nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav.main_nav .container .main_logo {
  font-size: 1.5rem;
}

nav.main_nav .container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.main_nav .container .navbar a.nav_link {
  display: inline-block;
  color: #fff;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem 0.5rem;
  border-radius: 5px;
}

nav.main_nav .container .navbar a.nav_link:hover {
  background-color: #93cb52;
}

@media (max-width: 768px) {
  nav.main_nav .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.main_nav .container .main_logo {
    margin-top: 1rem;
  }
}

/* Showcase */
section.main_showcase {
  position: relative;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  height: 90vh;
}

section.main_showcase::before {
  content: '';
  position: absolute;
  background: #333 url("../img/showcase.jpg") no-repeat center center/cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

section.main_showcase .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 768px) {
  section.main_showcase {
    height: 83vh;
  }
}

/* What we do */
section#what .what_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#what .what_heading h3 {
  padding: 1rem;
}

@media (max-width: 768px) {
  section#what .what_heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#what .what_heading h3 {
    padding: 0;
  }
}

/* Who we are */
section#who .who_img {
  background: url("../img/staf.jpg") no-repeat center center/cover;
}

@media (max-width: 768px) {
  section#who .who_img {
    height: 350px;
  }
}

section#who .who_text li {
  padding: 0.25rem 0 0.75rem 0;
  border-bottom: 1px solid #555;
  font-size: 1.2rem;
}

section#who .who_text li:last-child {
  border: none;
}

section#clients .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section#clients .container img {
  width: 140px;
}

@media (min-width: 501px) and (max-width: 768px) {
  section#clients .container img {
    width: 90px;
  }
}

@media (max-width: 500px) {
  section#clients .container img {
    width: 70px;
  }
}
/*# sourceMappingURL=main.css.map */