@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* tag selector */
html {
  height: 100%;
}

body {
  font-family: "Roboto Condensed", serif;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Roboto Slab", sans-serif;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

body h1 {
  font-size: 2.5rem;
}

body h2 {
  font-size: 2rem;
}

body h3 {
  font-size: 1.5rem;
}

body p {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

body img {
  width: 100%;
  height: 100%;
}

/* Utilites Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

.text_primary {
  color: #f7c08a;
}

.l_heading {
  font-size: 4rem;
}

.m_heading {
  font-size: 3rem;
}

.s_heading {
  font-size: 2rem;
}

.lead {
  font-size: 1.25rem;
}

.text_center {
  text-align: center;
}

.text_justify {
  text-align: justify;
}

.bg_light {
  background: #f4f4f4;
  color: #333;
}

.bg_primary {
  background: #f7c08a;
  color: #333;
}

.bg_dark {
  background: #333;
  color: #fff;
}

.grid_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .grid_2 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.grid_3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .grid_3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.p_1 {
  padding: 1rem;
}

.p_2 {
  padding: 2rem;
}

.p_3 {
  padding: 3rem;
}

.py_1 {
  padding: 1rem 0;
}

.py_2 {
  padding: 2rem 0;
}

.py_3 {
  padding: 3rem 0;
}

.pt_1 {
  padding-top: 1rem;
}

.btn_dark, .btn_light {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  outline: none;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn_dark {
  background-color: #333;
  color: #fff;
}

.btn_dark:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  background-color: #1a1a1a;
}

.btn_light {
  background-color: #f4f4f4;
  color: #333;
}

.btn_light:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  background-color: white;
}

/*******************
 main_style 
********************/
/* navigation */
nav.main_nav {
  background-color: #333;
  color: #fff;
}

nav.main_nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

nav.main_nav .container span.main_logo {
  font-size: 1.5rem;
}

nav.main_nav .container ul.nav_bar {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.main_nav .container ul.nav_bar a.nav_link {
  color: #fff;
  text-decoration: none;
  padding: 1.25rem 0.75rem;
  display: inline-block;
}

nav.main_nav .container ul.nav_bar a.nav_link.current {
  color: #f7c08a;
}

nav.main_nav .container ul.nav_bar a.nav_link:hover {
  background: #444;
}

@media (max-width: 768px) {
  nav.main_nav .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  nav.main_nav .container span.main_logo {
    margin-top: 1rem;
  }
  nav.main_nav .container ul.nav_bar {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
  nav.main_nav .container ul.nav_bar li.nav_item:hover {
    background: #444;
  }
}

/* Showcase */
section.showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  color: #fff;
}

section.showcase .container {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section.info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

section.info div.info_text {
  background-color: #333;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.info div.info_img {
  background: url("../img/photo-1.jpg") no-repeat center center/cover;
}

@media (max-width: 768px) {
  section.info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  section.info div.info_img {
    height: 300px;
  }
}

/*****
About Page
******/
section#about_section .about_img img {
  display: block;
  width: 70%;
  border: 2px solid #333;
  border-radius: 1rem;
  margin: auto;
}

#testimonials {
  background: url("../img/test-bg.jpg") no-repeat center center/cover;
  color: #fff;
}

#testimonials .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  margin-bottom: 1rem;
  opacity: 0.9;
}

#testimonials .testimonial img {
  width: 100px;
  border-radius: 50%;
}

#testimonials .testimonial p {
  padding-left: 1rem;
}

/*****
Contact Page
*****/
#contact .form_group label {
  display: block;
}

#contact .form_group input,
#contact .form_group textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

#contact .form_group input[type='submit'] {
  background-color: #333;
  color: #fff;
}

@media (min-width: 768px) {
  #contact .form_group {
    padding-right: 1rem;
  }
}

@media (max-width: 768px) {
  #contact div.google_map {
    margin-top: 1rem;
  }
}

#contact_details {
  background: #444;
  color: #fff;
}

@media (max-width: 768px) {
  #contact_details .grid_box {
    border-bottom: 1px solid #333;
    padding-top: 1rem;
  }
  #contact_details .grid_box:last-child {
    border: none;
  }
}

/* footer */
footer#main_footer {
  margin-top: auto;
}
/*# sourceMappingURL=main.css.map */