/* button class */
%btn_shared {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  // border-radius: 5px;
  outline: none;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn {
  &-dark {
    @extend %btn_shared;
    background-color: $color-dark;
    color: set-text-color($color-dark);
  }
  &-light {
    @extend %btn_shared;
    background-color: $color-light;
    color: set-text-color($color-light);
  }
  &-primary {
    @extend %btn_shared;
    background-color: $color-primary !important;
    color: set-text-color($color-primary);
  }
  &-secondary {
    @extend %btn_shared;
    background-color: $color-secondary;
    color: set-text-color($color-secondary);
  }

  &:hover {
    opacity: 0.8;
  }
}
