.m1 {
  margin: 1rem;
}
.m2 {
  margin: 2rem;
}
.m3 {
  margin: 3rem;
}
.m4 {
  margin: 4rem;
}
.m5 {
  margin: 5rem;
}

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.my4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.my5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.mx3 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.mx4 {
  margin-left: 4rem;
  margin-right: 4rem;
}
.mx5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mt1 {
  margin-top: 1rem;
}
.mt2 {
  margin-top: 2rem;
}
.mt3 {
  margin-top: 3rem;
}
.mt4 {
  margin-top: 4rem;
}
.mt5 {
  margin-top: 5rem;
}

.mb1 {
  margin-bottom: 1rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mb3 {
  margin-bottom: 3rem;
}
.mb4 {
  margin-bottom: 4rem;
}
.mb5 {
  margin-bottom: 5rem;
}
