.p1 {
  padding: 1rem;
}
.p2 {
  padding: 2rem;
}
.p3 {
  padding: 3rem;
}
.p4 {
  padding: 4rem;
}
.p5 {
  padding: 5rem;
}

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.py5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.px3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}
.px5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pt1 {
  padding-top: 1rem;
}
.pt2 {
  padding-top: 2rem;
}
.pt3 {
  padding-top: 3rem;
}
.pt4 {
  padding-top: 4rem;
}
.pt5 {
  padding-top: 5rem;
}

.pb1 {
  padding-bottom: 1rem;
}
.pb2 {
  padding-bottom: 2rem;
}
.pb3 {
  padding-bottom: 3rem;
}
.pb4 {
  padding-bottom: 4rem;
}
.pb5 {
  padding-bottom: 5rem;
}
