* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-secondary;
  background-color: $color-light;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  margin-bottom: 0.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

ol {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: $color-dark;
}

form.contact {
  label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 1.1rem;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #555;
    border-radius: 5px;
  }

  input[type="submit"] {
    cursor: pointer;
    background-color: $color-secondary;
    color: set-text-color($color-secondary);
  }
}
