@import "vars";
@import "functions";
@import "tags";
@import "btn";
@import "padding";
@import "margin";

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

.l-heading {
  font-size: 3.5rem;

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.m-heading {
  font-size: 2.5rem;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;

  &-sports {
    background-color: $color-sport;
  }

  &-ent {
    background-color: $color-ent;
  }

  &-tech {
    background-color: $color-tech;
  }
}

.bg-dark {
  background-color: $color-dark !important;
  color: set-text-color($color-dark) !important;
}

.bg-light {
  background-color: $color-light !important;
  color: set-text-color($color-light) !important;
}

.bg-primary {
  background-color: $color-primary !important;
  color: set-text-color($color-primary) !important;
}

.bg-secondary {
  background-color: $color-secondary !important;
  color: set-text-color($color-secondary) !important;
}

.list {
  li {
    padding: 0.5rem 0;
    border-bottom: 1px dotted #555;
    width: 90%;

    a:hover {
      color: $color-primary !important;
    }
  }
}

.card {
  background-color: #fff;
  padding: 1rem;
}
