// google fonts
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab&display=swap");

// fonts var
$font-primary: "Roboto Slab", serif;
$font-secondary: "Roboto Condensed", sans-serif;

// colors var
$color-primary: #c72727;
$color-secondary: #f99500;
$color-light: #f3f3f3;
$color-dark: #333;

//  category var
$color-sport: $color-secondary;
$color-ent: #a66bbe;
$color-tech: #009cff;
