@import "utils";

// navigation
nav#main_nav {
  background: #fff;
  padding: 0.5rem 0;
  border-bottom: 1px solid $color-primary;

  .container {
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    align-items: center;

    img.logo {
      width: 180px;
    }

    div.social-icons {
      align-self: center;
      i.fab {
        color: #777;
        padding: 0 0.3rem;

        &:hover {
          color: #000;
        }
      }
    }

    ul.nav-list {
      align-self: end;
      display: flex;

      li.nav-item {
        a.nav-link {
          display: inline-block;
          padding: 0.75rem 1rem;
          font-weight: bold;

          &.current {
            background-color: $color-primary;
            color: set-text-color($color-primary);
          }

          &:hover {
            background-color: $color-light;
            color: set-text-color($color-light);
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-gap: 1rem;

      div.social-icons {
        display: none;
      }

      img.logo,
      ul.nav-list {
        justify-self: center;
      }
    }
  }
}

// showcase
section#showcase {
  position: relative;
  background: rgba($color: #000000, $alpha: 0.4);
  color: #fff;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url("../img/featured.jpg") no-repeat center center/cover;
    z-index: -1;
  }

  div.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;

    @media (max-width: 768px) {
      height: 75vh;
    }
  }
}

/* Home Articles */
section#home-articles {
  div.articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 2fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}

// about page & article page
section#about,
section#article {
  .container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-gap: 1.5rem;

    article {
      grid-row: 1 / span 3;

      .meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #eee;
        padding: 0.5rem;

        .category {
          margin-top: 0.4rem;
        }
      }
    }

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }
}

// footer
footer#main-footer {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    img {
      width: 150px;
    }

    a {
      color: #fff;
    }

    input[type="email"] {
      width: 90%;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }

    input[type="submit"] {
      width: 90%;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      background-color: $color-primary;
      color: set-text-color($color-primary);
      border: none;
      outline: none;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }

    @media (min-width: 501px) and (max-width: 768px) {
      grid-template-columns: 1fr;
      input[type="email"],
      input[type="submit"] {
        width: 70%;
      }
    }
    @media (max-width: 500px) {
      grid-template-columns: 1fr;
      input[type="email"],
      input[type="submit"] {
        width: 100%;
      }
    }
  }

  .copyright {
    width: 100%;
    background-color: #444;
    padding: 0.5rem 1rem 0.25rem 1rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
  }
}
