* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: $secondary_font;
  background: $light_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary_font;
  padding: 0.25rem 0 0.5rem 0;
  margin: 0.25rem 0 0.75rem 0;
}

p {
  padding: 0.25rem 0 0.25rem 0;
  margin: 0.25rem 0 0.5rem 0;
}

img {
  width: 100%;
}

form {
  label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 1.1rem;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #555;
    border-radius: 5px;
  }

  input[type='submit'] {
    cursor: pointer;
  }
}
