.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

.l_heading {
  font-size: 4rem;

  @media (max-width: 768px) {
    font-size: 3.5rem;
  }
}
.m_heading {
  font-size: 3rem;

  @media (max-width: 768px) {
    font-size: 2.5rem;
  }
}
.s_heading {
  font-size: 2rem;
}

.lead {
  font-size: 1.2rem;
}

.text_primary {
  color: $primary_color;
}

.text_center {
  text-align: center;
}

.text_justify {
  text-align: justify;
}

.bg_dark {
  background: $dark_color;
  color: set-text-color($dark_color);
}

.bg_light {
  background: $light_color;
  color: set-text-color($light_color);
}

.bg_primary {
  background: $primary_color;
  color: set-text-color($primary_color);
}

.br50 {
  border-radius: 50%;
}

%btn_shared {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn {
  &_dark {
    @extend %btn_shared;
    background-color: $dark_color;
    color: set-text-color($dark_color);

    &:hover {
      @include transform(rotate(10deg));
      background-color: darken($color: $dark_color, $amount: 10);
    }
  }
  &_light {
    @extend %btn_shared;
    background-color: $light_color;
    color: set-text-color($light_color);

    &:hover {
      @include transform(rotate(10deg));
      background-color: lighten($color: $light_color, $amount: 10);
    }
  }
  &_primary {
    @extend %btn_shared;
    background-color: $primary_color;
    color: set-text-color($primary_color);

    &:hover {
      @include transform(rotate(10deg));
      background-color: darken($color: $primary_color, $amount: 10);
    }
  }
}

/*Grid class*/
.grid_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.grid_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

/* padding */
.p1 {
  padding: 1rem;
}
.p2 {
  padding: 2rem;
}
.p3 {
  padding: 3rem;
}
.p4 {
  padding: 4rem;
}
.p5 {
  padding: 5rem;
}

.py_1 {
  padding: 1rem 0;
}
.py_2 {
  padding: 2rem 0;
}
.py_3 {
  padding: 3rem 0;
}
.py_4 {
  padding: 4rem 0;
}
.py_5 {
  padding: 5rem 0;
}

.px_1 {
  padding: 0 1rem;
}
.px_2 {
  padding: 0 2rem;
}
.px_3 {
  padding: 0 3rem;
}
.px_4 {
  padding: 0 4rem;
}
.px_5 {
  padding: 0 5rem;
}

.pt_1 {
  padding-top: 1rem;
}
.pt_2 {
  padding-top: 2rem;
}
.pt_3 {
  padding-top: 3rem;
}
.pt_4 {
  padding-top: 4rem;
}
.pt_5 {
  padding-top: 5rem;
}

.pb_1 {
  padding-bottom: 1rem;
}
.pb_2 {
  padding-bottom: 2rem;
}
.pb_3 {
  padding-bottom: 3rem;
}
.pb_4 {
  padding-bottom: 4rem;
}
.pb_5 {
  padding-bottom: 5rem;
}
