@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab&display=swap');

$primary_color: #93cb52;
$dark_color: #333;
$light_color: #f4f4f4;
$primary_font: 'Roboto Slab', sans-serif;
$secondary_font: 'Roboto Condensed', serif;
