@import 'variables';
@import 'functions';
@import 'tag-selector';
@import 'utility-class';

/* main_style */

/*navigation*/
nav.main_nav {
  border-bottom: 1px solid #fff;
  position: sticky;
  top: 0;
  z-index: 3;
  .container {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

    .main_logo {
      font-size: 1.5rem;
    }

    .navbar {
      display: flex;
      a.nav_link {
        display: inline-block;
        color: #fff;
        padding: 0.5rem 0.75rem;
        margin: 0.75rem 0.5rem;
        border-radius: 5px;

        &:hover {
          background-color: $primary_color;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;

      .main_logo {
        margin-top: 1rem;
      }
    }
  }
}

/* Showcase */
section.main_showcase {
  position: relative;
  color: #fff;
  background: rgba($color: #000000, $alpha: 0.4);
  height: 90vh;

  &::before {
    content: '';
    position: absolute;
    background: $dark_color url('../img/showcase.jpg') no-repeat center
      center/cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100%;
  }

  @media (max-width: 768px) {
    height: 83vh;
  }
}

/* What we do */
section#what {
  .what_heading {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

    h3 {
      padding: 1rem;
    }

    @media (max-width: 768px) {
      flex-direction: column;

      h3 {
        padding: 0;
      }
    }
  }
}

/* Who we are */
section#who {
  .who_img {
    background: url('../img/staf.jpg') no-repeat center center/cover;

    @media (max-width: 768px) {
      height: 350px;
    }
  }

  .who_text {
    li {
      padding: 0.25rem 0 0.75rem 0;
      border-bottom: 1px solid #555;
      font-size: 1.2rem;

      &:last-child {
        border: none;
      }
    }
  }
}

section#clients {
  .container {
    display: flex;
    justify-content: space-evenly;

    img {
      width: 140px;

      @media (min-width: 501px) and (max-width: 768px) {
        width: 90px;
      }
      @media (max-width: 500px) {
        width: 70px;
      }
    }
  }
}
