@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Roboto Condensed", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", sans-serif;
  padding: 0.25rem 0;
  margin: 0.25rem 0;
}

p {
  padding: 0.25rem 0;
  margin: 0.25rem 0;
}

img {
  width: 100%;
}

form label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
}

form input,
form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #555;
  border-radius: 5px;
}

form input[type='submit'] {
  cursor: pointer;
  background-color: #192a56;
  color: #fff;
}

ol,
ul {
  list-style-position: inside;
}

ul {
  list-style-type: none;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;
}

.p4 {
  padding: 4rem;
}

.p5 {
  padding: 5rem;
}

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pt4 {
  padding-top: 4rem;
}

.pt5 {
  padding-top: 5rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pb5 {
  padding-bottom: 5rem;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.m3 {
  margin: 3rem;
}

.m4 {
  margin: 4rem;
}

.m5 {
  margin: 5rem;
}

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.menu_wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.menu_wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 60px;
  height: 55px;
  opacity: 0;
  cursor: pointer;
  /*Toggler animation*/
  /* Rotate On Hover When Checked */
  /*Show menu*/
}

.menu_wrap .toggler:checked + .hamburger > .line {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  /* hamburger turn into + icon */
}

.menu_wrap .toggler:checked + .hamburger > .line::before, .menu_wrap .toggler:checked + .hamburger > .line::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu_wrap .toggler:checked:hover + .hamburger > .line {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu_wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu_wrap .toggler:checked ~ .menu div.menu_div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.menu_wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 55px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3498db;
  padding: 1rem;
  /* hamburger middle line */
}

.menu_wrap .hamburger .line {
  position: relative;
  width: 100%;
  height: 2px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /*First Line*/
  /*Last Line*/
}

.menu_wrap .hamburger .line::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu_wrap .hamburger .line::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.menu_wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  visibility: hidden;
}

.menu_wrap .menu .menu_div {
  background-color: #192a56;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0.9;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu_wrap .menu .menu_div ul.nav {
  list-style: none;
}

.menu_wrap .menu .menu_div ul.nav li.nav-item {
  text-align: center;
}

.menu_wrap .menu .menu_div ul.nav li.nav-item a.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  display: inline-block;
  width: 80vw;
  margin: auto;
}

.menu_wrap .menu .menu_div ul.nav li.nav-item a.nav-link:hover {
  background-color: #3498db;
}

/* button class */
.btn_dark, .btn_light, .btn_primary {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  outline: none;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn_dark {
  background-color: #333;
  color: #fff;
}

.btn_dark:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  background-color: #1a1a1a;
}

.btn_light {
  background-color: #f4f4f4;
  color: #000;
}

.btn_light:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  background-color: white;
}

.btn_primary {
  background-color: #3498db;
  color: #000;
}

.btn_primary:hover {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
  background-color: #217dbb;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

/*Text Classes*/
.text_center {
  text-align: center;
}

.text_justify {
  text-align: justify;
}

.text_primary {
  color: #3498db;
}

.text_secondary {
  color: #192a56;
}

.text_accent {
  color: #74b9ff;
}

.l_heading {
  font-size: 4rem;
}

.m_heading {
  font-size: 3rem;
}

.s_heading {
  font-size: 2rem;
}

.lead {
  font-size: 1.2rem;
}

.bg_primary {
  background: #3498db;
  color: #000;
}

.bg_dark {
  background-color: #192a56;
  color: #fff;
}

.d_flex_justify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

@media (max-width: 600px) {
  .grid3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.grid5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding: 2rem;
}

#timeline ul {
  background: #74b9ff;
  color: #000;
  padding: 3rem 0;
  /* Create Line */
}

#timeline ul li {
  list-style: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
  /* Dots */
  /* Boxes */
  /* Right Side */
  /* Left Side */
}

#timeline ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
}

#timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: #192a56;
  color: #fff;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  /* Arrows Base */
}

#timeline ul li div:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

#timeline ul li:nth-child(odd) div {
  left: 40px;
  -webkit-transform: translate(200px, 0);
          transform: translate(200px, 0);
  /* Right Side Arrows */
}

#timeline ul li:nth-child(odd) div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #192a56 transparent transparent;
}

#timeline ul li:nth-child(even) div {
  left: -434px;
  -webkit-transform: translate(-200px, 0);
          transform: translate(-200px, 0);
  /* Left Side Arrows */
}

#timeline ul li:nth-child(even) div:before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #192a56;
}

#timeline ul li.show {
  /* Show Boxes */
}

#timeline ul li.show div {
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
}

#timeline ul li.show:after {
  background: #192a56;
}

/*Media Query*/
@media (max-width: 900px) {
  #timeline ul li div {
    width: 250px;
  }
  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}

@media (max-width: 600px) {
  #timeline ul li {
    margin-left: 20px;
  }
  #timeline ul li div {
    width: calc(100vw - 90px);
  }
  #timeline ul li:nth-child(even) div {
    left: 40px;
  }
  #timeline ul li:nth-child(even) div:before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #192a56 transparent transparent;
  }
}

header#main_header {
  border-bottom: 1px solid #fff;
}

header#main_header .container nav.main_nav span.logo {
  display: block;
  font-family: "Roboto Slab", sans-serif;
  letter-spacing: 0.02rem;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  header#main_header .container nav.main_nav span.logo {
    text-align: center;
  }
}

section#showcase {
  position: relative;
  height: 70vh;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

section#showcase::before {
  content: '';
  background: url("../img/showcase_bg.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

main {
  background: #000;
  color: #fff;
}

main #about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

@media (max-width: 500px) {
  main #about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main #about aside ol li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}

main #about aside ol li:last-child {
  border: none;
}

.contact {
  background-color: #f4f4f4;
  color: #000;
}

.contact .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
  .contact .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.contact .container form {
  padding: 1rem;
}

.contact .container .google_map {
  padding: 1rem;
}

footer#main_footer {
  margin-top: auto;
  border-top: 1px solid #fff;
}
/*# sourceMappingURL=main.css.map */