@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f3f3f3;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  margin-bottom: 0.5rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

ol {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: #333;
}

form.contact label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
}

form.contact input,
form.contact textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #555;
  border-radius: 5px;
}

form.contact input[type="submit"] {
  cursor: pointer;
  background-color: #f99500;
  color: #fff;
}

/* button class */
.btn-dark, .btn-light, .btn-primary, .btn-secondary {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  outline: none;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn-dark {
  background-color: #333;
  color: #fff;
}

.btn-light {
  background-color: #f3f3f3;
  color: #000;
}

.btn-primary {
  background-color: #c72727 !important;
  color: #fff;
}

.btn-secondary {
  background-color: #f99500;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.p3 {
  padding: 3rem;
}

.p4 {
  padding: 4rem;
}

.p5 {
  padding: 5rem;
}

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.pt1 {
  padding-top: 1rem;
}

.pt2 {
  padding-top: 2rem;
}

.pt3 {
  padding-top: 3rem;
}

.pt4 {
  padding-top: 4rem;
}

.pt5 {
  padding-top: 5rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pb5 {
  padding-bottom: 5rem;
}

.m1 {
  margin: 1rem;
}

.m2 {
  margin: 2rem;
}

.m3 {
  margin: 3rem;
}

.m4 {
  margin: 4rem;
}

.m5 {
  margin: 5rem;
}

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.my3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.my4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.my5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mx1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}

.mt5 {
  margin-top: 5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mb5 {
  margin-bottom: 5rem;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

.l-heading {
  font-size: 3.5rem;
}

@media (max-width: 768px) {
  .l-heading {
    font-size: 3rem;
  }
}

.m-heading {
  font-size: 2.5rem;
}

.category {
  display: inline-block;
  color: #fff;
  font-size: 0.55rem;
  text-transform: uppercase;
  padding: 0.4rem 0.6rem;
  border-radius: 15px;
  margin-bottom: 0.5rem;
}

.category-sports {
  background-color: #f99500;
}

.category-ent {
  background-color: #a66bbe;
}

.category-tech {
  background-color: #009cff;
}

.bg-dark {
  background-color: #333 !important;
  color: #fff !important;
}

.bg-light {
  background-color: #f3f3f3 !important;
  color: #000 !important;
}

.bg-primary {
  background-color: #c72727 !important;
  color: #fff !important;
}

.bg-secondary {
  background-color: #f99500 !important;
  color: #fff !important;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: 1px dotted #555;
  width: 90%;
}

.list li a:hover {
  color: #c72727 !important;
}

.card {
  background-color: #fff;
  padding: 1rem;
}

nav#main_nav {
  background: #fff;
  padding: 0.5rem 0;
  border-bottom: 1px solid #c72727;
}

nav#main_nav .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 3fr 2fr;
      grid-template-columns: 6fr 3fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav#main_nav .container img.logo {
  width: 180px;
}

nav#main_nav .container div.social-icons {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav#main_nav .container div.social-icons i.fab {
  color: #777;
  padding: 0 0.3rem;
}

nav#main_nav .container div.social-icons i.fab:hover {
  color: #000;
}

nav#main_nav .container ul.nav-list {
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav#main_nav .container ul.nav-list li.nav-item a.nav-link {
  display: inline-block;
  padding: 0.75rem 1rem;
  font-weight: bold;
}

nav#main_nav .container ul.nav-list li.nav-item a.nav-link.current {
  background-color: #c72727;
  color: #fff;
}

nav#main_nav .container ul.nav-list li.nav-item a.nav-link:hover {
  background-color: #f3f3f3;
  color: #000;
}

@media screen and (max-width: 768px) {
  nav#main_nav .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  nav#main_nav .container div.social-icons {
    display: none;
  }
  nav#main_nav .container img.logo,
  nav#main_nav .container ul.nav-list {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

section#showcase {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
}

section#showcase::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../img/featured.jpg") no-repeat center center/cover;
  z-index: -1;
}

section#showcase div.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

@media (max-width: 768px) {
  section#showcase div.container {
    height: 75vh;
  }
}

/* Home Articles */
section#home-articles div.articles-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

@media (max-width: 768px) {
  section#home-articles div.articles-container {
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
  }
}

@media (max-width: 500px) {
  section#home-articles div.articles-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

section#about .container,
section#article .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 2fr;
      grid-template-columns: 5fr 2fr;
  grid-gap: 1.5rem;
}

section#about .container article,
section#article .container article {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

section#about .container article .meta,
section#article .container article .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eee;
  padding: 0.5rem;
}

section#about .container article .meta .category,
section#article .container article .meta .category {
  margin-top: 0.4rem;
}

@media (max-width: 700px) {
  section#about .container,
  section#article .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

footer#main-footer .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

footer#main-footer .grid-container img {
  width: 150px;
}

footer#main-footer .grid-container a {
  color: #fff;
}

footer#main-footer .grid-container input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

footer#main-footer .grid-container input[type="submit"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #c72727;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

footer#main-footer .grid-container input[type="submit"]:hover {
  opacity: 0.9;
}

@media (min-width: 501px) and (max-width: 768px) {
  footer#main-footer .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer#main-footer .grid-container input[type="email"],
  footer#main-footer .grid-container input[type="submit"] {
    width: 70%;
  }
}

@media (max-width: 500px) {
  footer#main-footer .grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  footer#main-footer .grid-container input[type="email"],
  footer#main-footer .grid-container input[type="submit"] {
    width: 100%;
  }
}

footer#main-footer .copyright {
  width: 100%;
  background-color: #444;
  padding: 0.5rem 1rem 0.25rem 1rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
}
/*# sourceMappingURL=main.css.map */