@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab&display=swap');
@import 'variables';
@import 'functions';

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* tag selector */
html {
  height: 100%;
}

body {
  font-family: $secondary-font;
  height: 100%;
  display: flex;
  flex-direction: column;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $primary-font;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  p {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

/* Utilites Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

.text_primary {
  color: $primary-color;
}

.l_heading {
  font-size: 4rem;
}
.m_heading {
  font-size: 3rem;
}
.s_heading {
  font-size: 2rem;
}

.lead {
  font-size: 1.25rem;
}

.text_center {
  text-align: center;
}

.text_justify {
  text-align: justify;
}

.bg_light {
  background: $light-color;
  color: set-text-color($light-color);
}

.bg_primary {
  background: $primary-color;
  color: set-text-color($primary-color);
}

.bg_dark {
  background: $dark-color;
  color: set-text-color($dark-color);
}

.grid_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.grid_3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.p_1 {
  padding: 1rem;
}
.p_2 {
  padding: 2rem;
}
.p_3 {
  padding: 3rem;
}

.py_1 {
  padding: 1rem 0;
}
.py_2 {
  padding: 2rem 0;
}
.py_3 {
  padding: 3rem 0;
}

.pt_1 {
  padding-top: 1rem;
}

%btn_shared {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: none;
  outline: none;
  text-decoration: none;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn {
  &_dark {
    @extend %btn_shared;
    background-color: $dark-color;
    color: set-text-color($dark-color);

    &:hover {
      @include transform(rotate(10deg));
      background-color: darken($color: $dark-color, $amount: 10);
    }
  }
  &_light {
    @extend %btn_shared;
    background-color: $light-color;
    color: set-text-color($light-color);

    &:hover {
      @include transform(rotate(10deg));
      background-color: lighten($color: $light-color, $amount: 10);
    }
  }
}
/*******************
 main_style 
********************/

/* navigation */
nav.main_nav {
  background-color: $dark-color;
  color: set-text-color($dark-color);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;

    span.main_logo {
      font-size: 1.5rem;
    }

    ul.nav_bar {
      list-style: none;
      display: flex;

      a.nav_link {
        color: #fff;
        text-decoration: none;
        padding: 1.25rem 0.75rem;
        display: inline-block;

        &.current {
          color: $primary-color;
        }

        &:hover {
          background: #444;
        }
      }
    }

    @media (max-width: 768px) {
      display: grid;
      grid-template-columns: 1fr;
      span.main_logo {
        margin-top: 1rem;
      }
      ul.nav_bar {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;

        li.nav_item:hover {
          background: #444;
        }
      }
    }
  }
}

/* Showcase */
section.showcase {
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  color: #fff;

  .container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
}

section.info {
  display: grid;
  grid-template-columns: 1fr 2fr;

  div.info_text {
    background-color: $dark-color;
    color: set-text-color($dark-color);
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  div.info_img {
    background: url('../img/photo-1.jpg') no-repeat center center/cover;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;

    div.info_img {
      height: 300px;
    }
  }
}

/*****
About Page
******/

section#about_section {
  .about_img img {
    display: block;
    width: 70%;
    border: 2px solid #333;
    border-radius: 1rem;
    margin: auto;
  }
}

#testimonials {
  background: url('../img/test-bg.jpg') no-repeat center center/cover;
  color: #fff;

  .testimonial {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 1rem;
    opacity: 0.9;

    img {
      width: 100px;
      border-radius: 50%;
    }

    p {
      padding-left: 1rem;
    }
  }
}

/*****
Contact Page
*****/

#contact {
  .form_group {
    label {
      display: block;
    }
    input,
    textarea {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 0.5rem;
      width: 100%;
      margin-bottom: 0.5rem;
    }

    input[type='submit'] {
      background-color: $dark-color;
      color: set-text-color($dark-color);
    }

    @media (min-width: 768px) {
      padding-right: 1rem;
    }
  }

  @media (max-width: 768px) {
    div.google_map {
      margin-top: 1rem;
    }
  }
}

#contact_details {
  background: #444;
  color: set-text-color(#444);

  @media (max-width: 768px) {
    .grid_box {
      border-bottom: 1px solid #333;
      padding-top: 1rem;

      &:last-child {
        border: none;
      }
    }
  }
}

/* footer */
footer#main_footer {
  margin-top: auto;
}
